<!DOCTYPE html>
<html>
  <head>
    <title>Demoapp</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <p><%= render 'layouts/messages' %> 
    <div id="page-content">
      <%= render 'layouts/navigation' %></p>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
